.topnav {
	background-color:#333;
	overflow: hidden;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: calibri;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#change {
  float:left;
  height:200px;
  width: 200px;
  background-color: black;
  color:white;
  font-family: calibri;
  font-size:2px;
}

#change:hover {
  cursor: move; /*change here */
  font-family: calibri;
  font-size: 55px;
}

#change2 {
  float:left;
  height:200px;
  width: 200px;
  background-color: black;
  color:white;
  font-family: calibri;
  font-size:2px;

}

#change2:hover {
  cursor: move; /*change here */
  font-family: calibri;
  font-size: 55px;
}
#change3 {
  float:left;
  height:200px;
  width: 200px;
  background-color: black;
  color:white;
  font-family: calibri;
  font-size:2px;
}

#change3:hover {
  cursor: move; /*change here */
  font-family: calibri;
  font-size: 55px;
}


/* 3X4 grid*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 4;
  grid-row: 1 /3;
}
.two { 
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  grid-column: 3 /4;
  grid-row: 1 / 3;
}
.four {
  grid-column: 4 /4;
  grid-row: 1/3;
}
.five {
  grid-column: 1/4;
  grid-row: 2/3 ;
}
.six {
  grid-column: 2/4;
  grid-row: 2/3;
}

.seven{
	grid-column: 3/4;
	grid-row: 2/3;
}

.eight {
	grid-column: 4/4;
	grid-row: 2/3;
}

.nine {
  grid-column: 1/4;
  grid-row: 3/3 ;
}
.ten {
  grid-column: 2/4;
  grid-row: 3/3;
}

.eleven {
	grid-column: 3/4;
	grid-row: 3/3;
}

.twelve {
	grid-column: 4/4;
	grid-row: 3/3;
}